CRUDPersonas/CRUDPersonas/Connected Services/svrPersona/svcPersona1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CapaBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53304/svcPersona.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PersonaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaBO" nillable="true" type="tns:PersonaBO" />
  <xs:complexType name="ArrayOfPersonaBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaBO" nillable="true" type="tns:PersonaBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaBO" nillable="true" type="tns:ArrayOfPersonaBO" />
</xs:schema>